<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--
      //You can specify :
      //websocket ip (e.g. "ws://232.155.89.2:8099/")
      //lookup url (e.g. "http://www.yourSite.com/servicesRepo.php") see->https://github.com/Ren0/Heartbeat-RaspberryPi
      //empty (use default value "ws://localhost:8099/")
    <add key="RequestFlickerUrl" value="http://www.olivettom.com/hb/index.php"/>
    
          -->
  </appSettings>
</configuration>